<div class="section_1">
    <div class="container">
        <div class="section_1_wrap">
            <!-- Content Block -->
            <div class="section_1_wrap_content">
                <h1 class="section_1_wrap_content__title">
                    Antivirus <br />
                    Mask Store
                </h1>

                <div class="section_1_wrap_content__desc">
                    The easiest way to protect yourself
                </div>

                <div class="section_1_wrap_content__list">
                    <div class="section_1_wrap_content__list__item">
                        <i class="fas fa-shield-virus"></i>
                        Anti-Bacterial
                    </div>
                    <div class="section_1_wrap_content__list__item">
                        <i class="fas fa-globe"></i>
                        Anti-Virus
                    </div>
                </div>

                <a routerLink="/abc" class="button button-highlight">
                    Shop now
                </a>
            </div>

            <!-- Image Block -->
            <div class="section_1_wrap_image">
                <!-- Add an image if needed -->
                <!-- <img src="assets/images/mask-product.png" alt="Product Image"> -->
            </div>
        </div>
    </div>
</div>