<div class="section">
    <div class="container">
        <div class="section__wrapper">
            
            <!-- Content Block -->
            <div class="section__content">
                <h1 class="section__title">
                    Antivirus <br />
                    Mask Store
                </h1>

                <div class="section__description">
                    The easiest way to protect yourself
                </div>

                <div class="section__features">
                    <div class="section__feature">
                        <i class="fas fa-shield-virus"></i>
                        Anti-Bacterial
                    </div>
                    <div class="section__feature">
                        <i class="fas fa-globe"></i>
                        Anti-Virus
                    </div>
                </div>

                <a routerLink="/abc" class="button button--highlight">
                    Shop now
                </a>
            </div>

            <!-- Image Block -->
            <div class="section__image">
                <img src="assets/images/product1.jpg" alt="Product">
                <div class="section__discount">
                    <span class="section__discount--label">only</span>
                    <span class="section__discount--price">$25</span>
                </div>
            </div>

        </div>
    </div>
</div>