/* You can add global styles to this file, and also import other style files */

:root {
    --color-main: #103178;
    --color-highlight: #FFC800;
    --color-text: #5B6C8F;
    --bg-1: #F0F2F5;
    --font: Arial, Helvetica, sans-serif;
}

.button{
    display: inline-block;
    background-color: #d9d9d9;
    padding: 15px 35px;
    border-radius: 25px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #1c0316;

    &--highlight{
        background-color: var(--color-highlight);
        color: #fff;
        border-color: var(--color-highlight);
        transition: color 0.5s ease;

        &:hover{
            cursor: pointer;
            background-color: #fff;
            color: #000;
        }
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}